html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px; /* for footer */
}

#page-content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.4;
}

/* Line numbers for code snippets */
.gutter pre {
    padding-right: 10px;
    font-weight: bold;
    color: black;
}

/* The big jumbotron on top of each blog post */
#post-top {
    padding: 15px;
}

.page-info-badge {
    margin-right: 10px;
}

#show-post-info-btn {
    margin-left: 10px;
}

/* Div at the bottom of a post w/ tags & categories */
.post--info {

}

/* For download pages */
#download-jumbotron {
    padding: 20px;
}

/*
 Archive
 More compressed than index.ejs
 */
.archive--post-link {

}



/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}